In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/workspaces/news-to-volatility-pipeline/data/raw/prices_2024-10-01_to_2024-10-10.csv")

In [3]:
data.head()

,Date,Close,High,Low,Open,Volume,ticker,Close.1,High.1,Low.1,Open.1,Volume.1
0,NaN,AAPL,AAPL,AAPL,AAPL,AAPL,NaN,MSFT,MSFT,MSFT,MSFT,MSFT
1,2024-10-01,224.94403076171875,228.36476618305377,222.4878528116685,228.2355040411627,63285000.0,AAPL,NaN,NaN,NaN,NaN,NaN
2,2024-10-02,225.51083374023438,226.09752818761766,221.771881889721,224.62581519597003,32880600.0,AAPL,NaN,NaN,NaN,NaN,NaN
3,2024-10-03,224.4070281982422,225.54064754177273,222.07018915877285,223.87999557549335,34044200.0,AAPL,NaN,NaN,NaN,NaN,NaN
4,2024-10-04,225.53074645996094,226.72402778202942,222.87569058700512,226.62458134960903,37245100.0,AAPL,NaN,NaN,NaN,NaN,NaN